.DS_Store
*/.DS_Store
bin/*.app
*/*.log*
*/*/*/*.log*
*/gimpswap.*
gimp-2.8
cinnamon
cinnamon/spices.cache
cowfiles
mednafen
gruvbox-contrib
oh-my-zsh
PyCharm40/system
racer
vim/bundle
vlc
z
node_modules

dotfile_overrides
