.DS_Store
*/.DS_Store
bin/*.app
*/*.log*
*/*/*/*.log*
*/gimpswap.*
gimp-2.8
cinnamon
cinnamon/spices.cache
cowfiles
mednafen
PyCharm40/system
racer
ssh/known_host*
vim/bundle
vim/plugged
vlc
z
node_modules
tmuxinator
themes

dotfile_overrides
