[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "dependencies/Gruvbox-GTK-Theme"]
	path = dependencies/Gruvbox-GTK-Theme
	url = https://github.com/Fausto-Korpsvart/Gruvbox-GTK-Theme
[submodule "dependencies/tmux-powerline-gruvbox-colorscheme"]
	path = dependencies/tmux-powerline-gruvbox-colorscheme
	url = https://github.com/PetrusZ/tmux-powerline-gruvbox-colorscheme
[submodule "dependencies/ohmyzsh"]
	path = dependencies/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "dependencies/gruvbox-contrib"]
	path = dependencies/gruvbox-contrib
	url = https://github.com/gruvbox-community/gruvbox-contrib
[submodule "dependencies/gruvbox"]
	path = dependencies/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "dependencies/dotfiles-local"]
	path = dependencies/dotfiles-local
	url = https://gitbox.branderson.io/branderson/dotfiles-local.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dependencies/fzf"]
	path = dependencies/fzf
	url = https://github.com/junegunn/fzf.git
