.DS_Store
*/.DS_Store
bin/*.app
*/*.log*
*/*/*/*.log*
*/gimpswap.*
gimp-2.8
cinnamon
cinnamon/spices.cache
cowfiles
mednafen
PyCharm40/system
racer
vim/bundle
vlc
z
node_modules
tmuxinator
themes

dotfile_overrides
