Atom
autostart
base16-shell
bless
caja
chromium
dconf
enchant
filezilla
gconf
gtk-2.0
gtk-3.0
gummi
google-chrome
hexchat
libreoffice
LyX
matplotlib
menus
mimeapps.list
Mousepad
NuGet
orage
gconf
pavucontrol.ini
powerline
projectM
pulse
QtProject.conf
ranger/bookmarks
ranger/history
ranger/tagged
ristretto
spotify
stetic
Thunar
transmission
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xbuild
xfce4
xfce4/panel
xfce4/desktop
xfce4/xfconf
