base16-shell
chromium
filezilla
gconf
gtk-2.0
gtk-3.0
gummi
google-chrome
hexchat
libreoffice
LyX
matplotlib
menus
mimeapps.list
Mousepad
orage
gconf
pulse
QtProject.conf
ristretto
spotify
Thunar
transmission
xfce4
xfce4/panel
xfce4/desktop
xfce4/xfconf
