base16-shell
chromium
filezilla
gtk-2.0
gtk-3.0
google-chrome
hexchat
libreoffice
matplotlib
menus
mimeapps.list
Mousepad
orage
gconf
pulse
QtProject.conf
ristretto
spotify
thunar
transmission
xfce4
xfce4/panel
xfce4/desktop
xfce4/xfconf
