[Unit]
Description=Update wallpapers when display change detected

[Service]
Type=simple
User=brad
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 3
# TODO: The file might not be here if ~/.dotfiles-config set to somewhere else
ExecStart=/home/brad/dotfiles/bin/start-wallpaper.sh

[Install]
WantedBy=multi-user.target

